/* Variables */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.row {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  text-align: center;
}

p {
  margin: 0;
  text-align: center;
}

.section-title {
  text-align: center;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-transform: uppercase;
  letter-spacing: -1px;
}

.subsection-title {
  text-align: center;
  color: #222222;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
}

h1 {
  margin: 0;
}

h4 {
  margin: 0;
}

section {
  padding: 120px 0;
}

ul {
  padding: 0;
}

/* header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/TYLgqtTD/Background-Image.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  text-align: center;
}

/* Logo */
.company-logo img {
  padding-top: 45px;
  padding-left: 238px;
}

/* menu */
.menu ul {
  padding-top: 51px;
  padding-left: 220px;
  margin: 0;
  list-style-type: none;
}

.menu li {
  margin-right: 20px;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  line-height: 41px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

header .row {
  margin: 0;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
}

.splash {
  height: 620px;
}

/* Welcome text */
.welcome-to-our {
  color: #fff;
  font-family: "Noto Serif", serif;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.its-nice {
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.btn {
  display: inline-block;
  background-color: #fed136;
  color: #fff;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 45px;
  border-radius: 4px;
  text-decoration: none;
}

/* Services */
.fa-shopping-basket, .fa-laptop-code, .fa-lock {
  width: 67px;
  height: 67px;
  border: 3px solid #fed136;
  border-radius: 50%;
  font-size: 30px;
  line-height: 60px;
  color: #fed136;
  background-color: #fff;
}

.sub-title {
  color: #777777;
  font-family: "Noto Serif", serif;
  font-size: 16px;
  font-style: italic;
  padding-bottom: 60px;
}

.services .subsection-title {
  padding-top: 10px;
}

.description {
  color: #777777;
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.35px;
}

/* Portfolio */
.portfolio {
  background-color: #f7f7f7;
  padding-top: 120px;
}

.photo-description {
  padding: 29px 16px 27px 16px;
  background-color: #fff;
}

.portfolio img {
  width: 100%;
  display: block;
}

.word {
  color: #737373;
  font-family: "Noto Serif", serif;
  font-size: 14px;
  font-style: italic;
}

.portfolio .row {
  padding-bottom: 50px;
}

.portfolio h4 {
  height: 30px;
}

/* Footer */
.copyright {
  color: #555555;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: -0.35px;
  padding-right: 50px;
  padding: 13px 0;
}

footer {
  padding: 40px 0;
  width: 100%;
  text-align: center;
}

.social-media, .copyright {
  display: block;
  width: 100%;
  margin: 0;
}

footer ul {
  list-style-type: none;
}

footer li {
  display: inline-block;
}

footer .row {
  margin: 0;
}

.fab {
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #222222;
  font-size: 20px;
  color: #fff;
  border-radius: 50%;
}
/*# sourceMappingURL=style.css.map */