/* Variables */

$color-light: #fff;
$color-dark: #000;

$font-montserrat: 'Montserrat', sans-serif;
$font-droid: 'Noto Serif', serif;

/* Global */

*, *::before, *::after {
    box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
}

.row {
  flex-wrap: wrap;
  justify-content: space-between;
}

p {
  margin: 0;
}

/* header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(https://i.postimg.cc/TYLgqtTD/Background-Image.png);
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  height: 700px;
  width: 1400px;
  margin-left: 92px;
  text-align: center;
}

/* Logo */

.company-logo img {
  padding-top: 45px;
  padding-left: 238px;
}


/* menu */

.menu ul {
  padding-top: 51px;
  padding-left: 220px;
  margin: 0;
  list-style-type: none;
}

.menu li {
  margin-right: 20px;
  display: inline-block;
}

.menu a {
  text-decoration: none;
  text-transform: uppercase;
  color: $color-light;
  font-size: 14px;
  line-height: 41px;
  font-family: $font-montserrat;
  font-weight: 400;
}

header .row {
  margin: 0;
  justify-content: center;
  align-items: center;
}

.splash {
  height: 620px;
}

/* Welcome text */

.welcome-to-our {
  color: $color-light;
  font-family: $font-droid;
  font-size: 40px;
  font-style: italic;
  letter-spacing: -1px;
}

.its-nice {
  color: $color-light;
  font-family: $font-montserrat;
  font-size: 75px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: -1.88px;
  padding-top: 20px;
  padding-bottom: 50px;
}

.btn {
  // width: 240px;
  // height: 65px;
  display: inline-block;
  background-color: #fed136;
  color: $color-light;
  font-family: $font-montserrat;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 45px;
  border-radius: 4px;
  text-decoration: none;
}
